@model List<Car>
@{
    ViewData["Title"]= "Index";
}
<ul>
    @foreach (var car in Model)
    {
        <a asp-controller="car" asp-action="detail" asp-route-id="@car.Id">
        
        <li>
                @car.Name
        </li>
        </a>

    }


</ul>