*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-red{
    color: red;
}
.test{
    
}

/* .all{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.all .box{
    height: 50px;
    width: 20%;
    background-color: teal;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;

} */
/* nav{
    text-align: center;
    height: 50px;
    background-color: rgb(148, 125, 171);
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
    font-weight: bold;
}
nav a::after{
    content: "";
    height: 4px;
    width: 0px;
    display: block;
    background-color: white;
    transition: .3s;
}
nav a:hover::after{

 width: 100%;
}
nav + a{
    text-decoration: none;
    display: block;
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid black;
    margin: 30px auto;
    position: relative;
    
}
nav + a::after{
    content: "";
    width: 0px;
    height: 37px;
    background-color: wheat;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .4s;

}
nav+a:hover::after{
    width: 100%;
} */

/* .test{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 20px auto;
    position: relative;
} */
/* .test::before{
    content: "";
    width: 100%;
    display: block;
    height: 4px;
    background-color: red;
    position: absolute;
   top: -5px;
} */