*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all{
    width: 900px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin:50px auto;
    border: 1px solid black;
}
 .box{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
}
.area{
    width: 700px;
    height: 100px;
    border: 1px solid black;;
    margin:10px auto;
}
