@import "./variables";
@import "./extend";
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
@mixin test($color,$border:1px){
    border: $border solid $color;
}

body{
    @extend %flexExtend;
    height: 100vh;
    .success{
        @include test(gray);
        @extend %flexExtend;
        width: 200px;
        height: 200px;
        background-color: $bgGreen;
        &:hover{
            background-color: aquamarine;
        }
    }
    
    .fail{
       @extend %flexExtend;
       @include test(black,10px);
        width: 200px;
        height: 200px;
        background-color: $bgRed;
    }
}

