*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/* div{
    background-color: red;
    width: 100px;
    height: 100px;
} */
 /* .test{
    height: 100px;
 }
 .bg-red{
    background-color: red;
 }
 .bg-green{
    background-color: green;
 }
 .test.test2{
    cursor: pointer;
 } */
  /* .login,.register{
    display: inline-block;
    width: 100px;
    border: 1px solid;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  .loginBtn{
    color: black;
  }
  .registerBtn{
    color: aqua;
  } */
   /* div{
    height: 700px;
    border: 5px dashed gray;
    
   } */
   @font-face {
    font-family: lorem;
    src: url(../fonts/Acidic.otf);
 }

  div{
    text-align: center;
  }

  div i{
    background: teal;
    color: white;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
    transition: .6s;
  }
  div i:hover{
    transform: rotate(180deg);
  }

    /* ::-webkit-scrollbar {
      width: 10px;
      border: 1px solid #d5d5d5;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: blue;
      } */
   


 